<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <script src='jquery'></script>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>Image Uploader | Template created by Dieter Schneider for www.csstemplateheaven.com</title>
        <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    </head>

    <body>
        <div id="container">
            <div id="header">
                <h1>Periwinkle Image-Uploading Website</h1>
                <h2>By Erin Hoffman</h2>
            </div>

            <div id="linkbar">
                <div id="navcontainer">
                    <ul id="navlist">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </div>
            </div>

            <div id="content">
            {% block content %}
            {% endblock %}
            </div>
            <div id="footer">
                <p>&copy; <a href="http://csstemplateheaven.com">CssTemplateHeaven</a> | Created by Dieter Schneider 2006 | Valid Xhtml 1.0 Strict! </p>
            </div>

        </div>
    </body>
</html>
